.btn {
	font: inherit;
	padding: 0.75rem 1.5rem;
	background-color: #7855dc;
	border: none;
	color: currentColor;
	text-transform: capitalize;
	text-decoration: none;
	border-radius: 50px;
	cursor: pointer;
	transition: 0.3s background-color ease-in-out;

	&:hover,
	&:focus {
		background-color: #693de0;
	}

	&.btn-outline {
		background-color: transparent;
		border: 1px solid #e3e3e3;

		&:hover,
		&:focus {
			background-color: #ffffff14;
		}
	}
}

.btn-icon {
	font: inherit;
	border: none;
	color: currentColor;
	text-decoration: none;
	cursor: pointer;
	transition: 0.3s color ease-in-out;

	&:hover,
	&:focus {
		color: #c9c9cb;
	}
}
