.banner {
	display: grid;
	grid-template-columns: 1fr auto;
	border-radius: 12px;
	background-image: linear-gradient(90deg, #7953dc, #3aaad9);

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1.5rem;
		padding-inline: 5vw;
		padding-inline: 5dvw;

		h2 {
			font-size: 4rem;
			line-height: 4rem;
			letter-spacing: -2px;
			text-transform: capitalize;
			/* Para forzar el salto de línea */
			word-spacing: 100vw;
		}

		.buttons {
			display: flex;
			gap: 0.75rem;

			.btn {
				font-family: "Inter", sans-serif;
				font-size: 0.8rem;
				padding: 0.5rem 1.875rem;

				&:first-child {
					background-color: #ffffff14;
				}
			}
		}
	}

	.image {
		display: flex;
		justify-content: flex-end;
	}
}
