ul.songs {
	display: flex;
	gap: 2.5rem;
	padding-bottom: 2rem;
    overflow-x: auto;

	&::-webkit-scrollbar {
		height: 0.25rem;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #c9c9cb40;
		border-radius: 8px;
	}
}
